* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.edo-img {
    padding: 30px 100px;
    background-color: #f2f3fe;
}

.start {
 background-color: blue;
 border: none;
}
.solution {
    padding-left: 30px;
}

.demo {
    padding-right: 50px;
   
}
.but {
    background-color: #1b1642;
    color: white;
}
.you {
    color: gray;
    background-color: #d0d8fc;
    font-size: 15px;
    width: 200px;
    height: 30px;
    border: none;
}
.school {
    color: gray;
}
.free {
    color: #1b1642;
    background-color: white;
   border: none;
   border-radius: 5px;
   height: 50px;
   width: 200px;
}
.pla-demo {
    color: #1b1642;
    background-color: white;
    padding: 10px;
    border: none;
    margin-right: 20px;
    
    /* padding: 50px 50px; */
}
.header {
    width: 650px;
    height: 600px;
}

.smart {
    color: #1b1642;
}

.here {
    background-color: #f2f3fe;
    padding: 75px 100px;
}
.manag {
    color: #1b1642;
    font-weight: 800;
}
.rome {
    padding: 70px 350px;
    align-items: center;
}
.not {
    color: #1b1642;
    text-align: center;
}

.more {
    color: #1b1642;
    font-weight: 400;
    text-align: center;
}
.we {
    text-align: center;
}
.easy {
    border-bottom: 1px solid gray;
    color: #1b1642;
}
.lean {
    /* color: white; */
}
.tech {
    border-bottom: 1px solid gray;
    color: #1b1642;
}
.save {
    border-bottom: 1px solid gray;
    color: #1b1642;
}
.leen :hover {
 background-color: #1b1642;
 color: white;
 border-radius: 10px;
 
}
.second :hover {
    background-color: #1b1642;
    color: white;
    border-radius: 10px;
}
.third :hover{
    background-color: #1b1642;
    color: white;
    border-radius: 10px;
}
.color {
    background-color: #e5ebfb;
}
.our {
    color: skyblue;
 padding-top: 50px;
 padding-left: 40px;
}
.been {
    color: gray;
    padding: 60px 30px;
}
.have{
    color: #1b1642;
    font-weight: 500;
    padding-left: 50px;
}
.ima {
    padding: 20px 100px;
    
}
.service{
    border-radius: 10px;
    max-width: 100%;
    
}
.primary{
    padding: 10px 30px;
    font-weight: 600;
    color: #1b1642;
    text-align: center;
    
}
.chose{
    padding: 200px 120px;
}
.why {
    color: skyblue;
}
.client{
    font-weight: 250px;
    color: #1b1642;
}
.need {
    border: 1px solid white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px #1b1642;
    margin-bottom: 30px;
    text-align: center;
}
.need p a{
    text-decoration: none;
}